<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-6 col-xs-12">
        <img src="assets/images/mishaleclairglasses.jpg"/>
      </div>
      <div class="col-lg-6 col-xs-12">
        <ul>
          <li>Dedicated and Driven</li>
          <li>Passionate About Problem Solving</li>
          <li>Experienced Storyteller</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-6 col-xs-12">
        <p>I am a full stack web developer with a comprehensive background in storytelling, research, leadership and a history meeting deadlines under pressure. I gravitate toward server-side development and data structures. I pay close attention to user experience and building a cohesive, intuitive product on the front end.</p>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-xs-12">
    <ul>
      <li>HTML, CSS, JavaScript, jQuery, Angular</li>
      <li>Node.js, Express, MongoDB, Mongoose</li>
      <li>Ruby and Ruby on Rails</li>
      <li>Bootstrap, Handlebars, Materialize</li>
      <li>GitHub, Heroku, BitBalloon</li>
    </ul>
    <button><a href=#>Home</a></button>
  </div>
</div>
