<div id="portfolio-navbar">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Misha LeClair</a>
      </div>
      <!-- links to content -->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about-me" ng-click="changeClass()">About Me</a></li>
        <li><a href="#contact-me-section" ng-click="changeClass()">Contact Me</a></li>
        <li><a href="#sitter-swap-container" ng-click="changeClass()">SitterSwap</a></li>
        <li><a href="#within-reach-container" ng-click="changeClass()">Within Reach</a></li>
        <li><a href="#protips-container" ng-click="changeClass()">ProTips</a></li>
        <li><a href="#race-time-container" ng-click="changeClass()">Race Time</a></li>
      </ul>
    </div>
  </nav>
</div>
