<div id="portfolio-navbar">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Misha LeClair</a>
      </div>
      <!-- links to content -->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/about-me">About Me</a></li>
        <li><a href="#/contact-me">Contact Me</a></li>
        <li><a href="#/sitterswap">SitterSwap</a></li>
        <li><a href="#/within-reach">Within Reach</a></li>
        <li><a href="#/protips">ProTips</a></li>
        <li><a href="#/race-time">Race Time</a></li>
      </ul>
    </div>
  </nav>
</div>
