<div class="container-fluid project-view">
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-6">
        <img src="assets/images/race-time-screenshot.png" class="img-fluid">
      </div>
      <div class="col-lg-6 project-section">
        <h3>About the App</h3>
        <hr>
        <p>A two player race against the clock. When a player clicks the "Ready to Play?" button, a countdown begins. Players are given 30 seconds to rack up the most clicks. Player 1 uses the "A" key and player 2 uses the "L" key.</p>
      </div>
      <div class="col-lg-6 project-section">
        <h3>My Role</h3>
        <hr>
        <p>I built this game over one weekend as a exercise in jQuery and timing. I created a countdown for players with text displaying "ready, set, go". Also, I used keyup as the event listener so a player wouldn't be able to hold a key down and rack up points quickly as well as to avoid a tie if two players simply held their keys down.</p>
      </div>
      <div class="col-lg-6 project-section">
        <h3>Technical Details</h3>
        <hr>
        <ul>
          <li>HTML</li>
          <li>CSS</li>
          <li>jQuery</li>
        </ul>
      </div>
      <div class="row">
        <div class="col-lg-12 project-links">
          <h3>Check It Out</h3>
          <p>Live link: <a href="https://webdevmisharacetimeracinggame.bitballoon.com/" target="_blank">Race Time</a></p>
          <p>Look at the code: <a href="https://github.com/sfnewzgirl/project0-racing-game" target="_blank">GitHub</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
