<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div id="sitter-swap-container">
        <h2>SITTERSWAP</h2>
        <img src="assets/images/SitterSwapScreenshot.png">
        <h3>About the App</h3>
        <p>SitterSwap lets families connect to each other to find the best child care for their little ones. It replaces those large, inpersonal child care websites and expands your pool of child care options based on trusted relationships.</p>
        <h3>My Role</h3>
        <p>I created this app during a one week, solo sprint. I focused on creating solid modeling for users and the various relationships they would have with families and each other like sitters.</p>
        <h3>Technical Details</h3>
        <ul>
          <li>Ruby on Rails</li>
          <li>Many-to-many relationships between People (users) and Families through a Family_People join table</li>
          <li>Bootstrap</li>
        </ul>
        <a href="https://sitter-swap.herokuapp.com/" target="_blank">SitterSwap</a><br>
        <p>You can link to another family by searching the family name: "TestFamily".</p>
        <p>You can choose a sitter too by searching for the email: "testsitter@example.com".</p>
        <a href="https://github.com/sfnewzgirl/sitter-swap-2" target="_blank">GitHub</a><br>
        <button><a href=#>Home</a></button>
      </div>
    </div>
  </div>
</div>
