<div class="container-fluid project-view">
  <div class="row">
    <!-- <div class="col-lg-12"> -->
      <div class="col-lg-6">
        <img src="assets/images/within-reach-screenshot.png" class="img-fluid project-image"/>
      </div>
      <div class="col-lg-6 project-section">
        <h3>About the App</h3>
        <hr>
        <p>"Within Reach" is a mobile-friendly app for people who rely on Dialectical Behavior Therapy as part of their recovery process. The goal is to make the hard work of recovery easy, accessible, and private. Users can create guided entries that walk them through the core principles of DBT techniques including mindfulness, emotion regulation, and distress tolerance. The app allows users to share those entries with a chosen mental health professional to further aid in their recovery.</p>
      </div>
      <div class="col-lg-6 project-section">
        <h3>My Role</h3>
        <hr>
        <p>"Within Reach" is my app idea and I served as team leader during this one week, group sprint. During the project, I was responsible for building models, views, controllers, and routes.</p>
      </div>
      <div class="col-lg-6 project-section">
        <h3>Technical Details</h3>
        <hr>
        <ul>
          <li>Ruby on Rails</li>
          <li>jQuery</li>
          <li>Materialize</li>
        </ul>
      </div>
      <div class="row">
        <div class="col-lg-12 project-links">
          <h3>Check It Out</h3>
          <p>Live link: <a href="https://pacific-retreat-93110.herokuapp.com/" target="_blank">Within Reach</a></p>
          <p>Look at the code: <a href="https://github.com/sfnewzgirl/dialectical-therapy" target="_blank">Github</a></p>
        </div>
      </div>
    <!-- </div> -->
  </div>
</div>
