$purple: #52527a;
$blue: #336699;
$lightgrey: #e1e1ea;
$darkgrey: #4d4d4d;

body {
  font-family: 'Oswald', sans-serif;
  h3 {
    margin: auto;
    color: $purple;
    font-size: 2em;
  }
  p, li {
    font-size: 1.25em;
  }
}

.navbar-brand {
  font-size: 3em;
  padding-left: 1em;
}

.navbar-right {
  font-size: 1.5em;
}

img {
  margin-top: 1em;
  display: block;
  max-height: auto;
}

.project-view {
  margin: .5em;
}

.project-section {
  display: block;
  float: right;
}

.project-links {
  background-color: $lightgrey;
  display: block;
  width: 50%;
  border-radius: .5em;
  padding: 1em;
  margin: auto;
  box-shadow: 10px 5px 5px $purple;
}

.contact-options {
  text-align: center;
  padding: 1em;
  margin: 1em;
  margin-bottom: 3em;
}
