$purple: #52527a;
$blue: #336699;
$lightgrey: #e1e1ea;
$darkgrey: #4d4d4d;

body {
  font-family: 'Oswald', sans-serif;
  h3 {
    margin: auto;
    color: $purple;
    font-size: 2em;
  }
  p, li {
    font-size: 1.25em;
  }
}

.navbar-brand {
  font-size: 3em;
  padding-left: 1em;
}

.navbar-right {
  font-size: 1.5em;
  a:hover {
    // color: #336699;
    text-decoration: underline;
  }
}

.img-fluid {
  margin-top: 1em;
  display: block;
  height: auto;
  max-width: 100%;
}

.about-me-image {
  max-height: 450px;
  margin-left: 3em;
  border: 2px solid $purple;
  box-shadow: 10px 5px 5px $lightgrey;
}

.about-me-pitch, .about-me-skills {
  margin-top: 2.5em;
}

.about-me-brand {
  color: $purple;
  font-size: 2em;
}

.about-me-skills {
  h3 {
    margin-bottom: 1em;
  }
}

.project-view {
  margin: 3em .5em 3em .5em ;
}

.project-image {
  box-shadow: 5px 2px 2px $lightgrey;
}
.project-links {
  background-color: $lightgrey;
  display: block;
  max-width: 80%;
  border-radius: .5em;
  border: 2px solid $purple;
  h3 {
    margin-top: .5em;
    margin-bottom: .5em;
  }
}

h2 {
  color: $purple;
  font-size: 2.5em;
}

.contact-options {
  text-align: center;
  padding: 1em;
  margin: 1em;
  margin-bottom: 3em;
  .btn-lg {
    border-color: $darkgrey;
    border-width: .20em;
    background-color: white;
  }
  a {
    color: $purple;
  }
  a:hover {
    color: $blue;
    text-decoration: underline;
  }
}
