body {
  font-family: 'Oswald', sans-serif;
}

body h3 {
  margin: auto;
  color: #52527a;
  font-size: 2em;
}

body p, body li {
  font-size: 1.25em;
}

.navbar-brand {
  font-size: 3em;
  padding-left: 1em;
}

.navbar-right {
  font-size: 1.5em;
}

img {
  margin-top: 1em;
  display: block;
  max-height: auto;
}

.project-view {
  margin: .5em;
}

.project-section {
  display: block;
  float: right;
}

.project-links {
  background-color: #e1e1ea;
  display: block;
  width: 50%;
  border-radius: .5em;
  padding: 1em;
  margin: auto;
  box-shadow: 10px 5px 5px #52527a;
}

.contact-options {
  text-align: center;
  padding: 1em;
  margin: 1em;
  margin-bottom: 3em;
}
