body {
  font-family: 'Oswald', sans-serif;
}

.navbar-brand {
  font-size: 3em;
  padding-left: 1em;
}

.navbar-right {
  font-size: 1.5em;
}

img {
  display: inline-block;
  max-width: 300px;
  max-height: auto;
}

.contact-options {
  text-align: center;
  padding: 1em;
  margin: 1em;
  margin-bottom: 3em;
}

a {
  color: #52527a;
}
