body {
  font-family: 'Oswald', sans-serif;
}

body h3 {
  margin: auto;
  color: #52527a;
  font-size: 2em;
}

body p, body li {
  font-size: 1.25em;
}

.navbar-brand {
  font-size: 3em;
  padding-left: 1em;
}

.navbar-right {
  font-size: 1.5em;
}

.img-fluid {
  margin-top: 1em;
  display: block;
  height: auto;
  max-width: 100%;
}

.about-me-image {
  max-height: 450px;
  margin-left: 3em;
}

.about-me-brand, .about-me-pitch, .about-me-skills {
  margin-top: 2.5em;
}

.project-view {
  margin: .5em;
}

.project-links {
  background-color: #e1e1ea;
  display: block;
  border-radius: .5em;
  padding: 1em;
  box-shadow: 10px 5px 5px #52527a;
}

.contact-options {
  text-align: center;
  padding: 1em;
  margin: 1em;
  margin-bottom: 3em;
}
