body {
  font-family: 'Oswald', sans-serif;
}

body h3 {
  margin: auto;
  color: #52527a;
  font-size: 2em;
}

body p, body li {
  font-size: 1.25em;
}

.navbar-default {
  background-color: #e1e1ea;
  box-shadow: 0px 5px 5px #4d4d4d;
  padding-top: .5em;
  padding-bottom: .5em;
}

.navbar-default .navbar-brand {
  font-size: 3em;
  padding-left: 1em;
  color: #52527a;
}

.navbar-default .navbar-right {
  font-size: 1.5em;
  color: #52527a;
}

.navbar-default .navbar-right a:hover {
  color: #336699;
  text-decoration: underline;
}

.img-fluid {
  margin-top: 1em;
  display: block;
  height: auto;
  max-width: 100%;
}

.about-me-image {
  max-height: 450px;
  margin-left: 3em;
  border: 2px solid #52527a;
  box-shadow: 10px 5px 5px #e1e1ea;
}

.about-me-pitch, .about-me-skills {
  margin-top: 2.5em;
}

.about-me-brand {
  color: #52527a;
  font-size: 2em;
}

.about-me-skills h3 {
  margin-bottom: 1em;
}

.project-view {
  margin: 3em .5em 3em .5em;
}

.project-image {
  box-shadow: 5px 2px 2px #e1e1ea;
}

.project-links {
  background-color: #e1e1ea;
  display: block;
  max-width: 80%;
  border-radius: .5em;
  border: 2px solid #52527a;
}

.project-links h3 {
  margin-top: .5em;
  margin-bottom: .5em;
}

h2 {
  color: #52527a;
  font-size: 2.5em;
}

.contact-options {
  text-align: center;
  padding: 1em;
  margin: 1em;
  margin-bottom: 3em;
}

.contact-options .btn-lg {
  border-color: #4d4d4d;
  border-width: .20em;
  background-color: white;
}

.contact-options a {
  color: #52527a;
}

.contact-options a:hover {
  color: #336699;
  text-decoration: underline;
}
