img {
  max-width: 300px;
  max-height: auto;
}
body {
  /*padding-top: 70px;*/
  font-family: 'Oswald', sans-serif;
}

#projects {
  display: none;
}

#contact-me-button {
  /*clear: both;*/
  display: block;
  color: #317ca9;
  text-align: center;
  padding: .5em;
  margin: 1em;
}

.contact-options {
  display: none;
  background-color: #51b8ab;
  color: #317ca9;
  text-align: center;
  padding: .5em;
  margin: .5em;
  margin-bottom: 1em;
  text-decoration: none;
}
